# LLM 配置
LLM_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LLM_BASE_URL=https://api.openai.com/v1
LLM_MODEL=gpt-4o

# 浏览器调试配置
DEBUG_PORT=9222

# 是否在 LLM API 请求参数中关闭内置“思考模式” (true/false) 
# 具体关闭使用的字段(根据大模型厂商不同可定制，在 graph/nodes.py 中)
DISABLE_LLM_THINKING=true

# 运行时配置
# 任务运行的最大步骤数，超过后会自动结束
MAX_STEPS=10

# Playwright 打字延迟(毫秒)
TYPE_DELAY_MS=5
